.header {
  height: 100px;
  z-index: 1;
  background: linear-gradient(180deg, #e90000 0%, rgba(164, 40, 201, 0) 84%);

  @media (max-width: 1440px) {
    height: 70px;
  }
  @media (max-width: 1024px) {
    height: 50px;
  }
}
